@page
@model DetailModel
@{
    ViewData["Title"] = "Detail Jobs";
}
<!-- ========== section start ========== -->
<section class="section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    @*Start*@

                    <div class="mb-2">
                        <a class="btn btn-primary" asp-page="./Index"><i class="lni lni-chevron-left me-2"></i> Trở lại</a>
                    </div>

                    <section class="item-details section">
                        <div class="container">
                            <div class="top-area">
                                <div class="row align-items-center">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="product-info">
                                            <h2 class="title">Tên dự án: <strong>@Model.duAn.TenDuAn</strong></h2>
                                            <p class="category">Ngày bắt đầu: <strong>@Model.duAn.NgayBatDau</strong>  </p>
                                            <p class="category">Ngày kết thúc: <strong>@Model.duAn.NgayKetThuc</strong></p>
                                            <p class="category">Trạng thái: <strong>@Model.trangThai</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="product-details-info">
                                <div class="single-block">
                                    <div class="row">
                                        <div class="col-lg-12 col-12">
                                            <div class="info-body custom-responsive-margin">
                                                <h4>Mô tả dự án</h4>
                                                <p>@Model.duAn.MoTaDuAn </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    @*End*@
                    <!-- End Chart -->
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- end container -->
</section>
<!-- ========== section end ========== -->